rules_version = '2';

// [x] anyone can create user
// [ ] Only user can edit its own user
// [ ] only user can read its own user
// [x] only user can write its own todos
service cloud.firestore {
  function isAuth() {
    return request.auth != null;
  }
  match /databases/{database}/documents {
    match /todos/{todo} {
      allow read: if true;
      allow create: if isAuth() && request.auth.uid == request.resource.data.user_uid;
      allow delete: if isAuth() && request.auth.uid == resource.data.user_uid;
    }
    match /users/{user} {
      allow read, write: if true;
    }
  }
}